.mainDiv {
    min-height: 84.3vh;
    height: 100%;
    padding: 24px 60px 30px 60px;
}

.flSpan {
    display: flex;
    column-gap: 8px;
}

.chealFldiv {
    display: flex;
    column-gap: 8px;
}

.wrapp {
    padding-top: 30px;
    display: flex;
    /* height: 100%; */
    min-height: 77.3vh;
}

.menuCatal {
    border: none !important
}

.menuCatal ul {
    background: transparent !important;
}

.mainCards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    padding-top: 16px;
}

.minCardsLine {
    flex-direction: column;
}

.menuCatal div,
.menuCatal li {
    padding-left: 10px !important;
}

.leftCard {
    /* border-left: 1px solid #ACAEB0; */
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
}

.flTitl {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sliderDivMain {
    display: flex !important;
    /* width: 13vw !important; */
    min-width: 250px;
    padding: 14px;
    align-items: center;
    gap: 1vh;
    border-radius: 8px;
    background: #FFF;
    justify-content: space-between;
    transition: transform .3s;
}

.slidRow {
    flex-direction: row;
    height: 132px;
}

.slidColom {
    flex-direction: column;
    height: 360px;
}

.boxImgStar {
    position: relative;
    width: 100%;
    text-align: center;
    /* padding-top: 10px; */
}

.boxImgLine {
    width: 25% !important;
}

.boxImgStar>div {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.flBtnLine {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.starFlex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.stChFlex {
    display: flex;
}

.slTexLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    max-height: 60px;
}

.btnStar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.btnStartLine {
    width: 40%;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
}

.flexStart {
    justify-content: flex-start;
    align-items: flex-start;
}

.btnStartColum {
    width: 100%;
}

.addBasket {
    width: 100px;
    height: 34px;
    border-radius: 8px;
    background: #8D24F8;
    color: white;
}

.sortBl {
    padding-bottom: 16px;
}

.sortNone {
    display: none;
}