.mainTabs {
    /* padding: 24px 60px 90px 46px; */
    padding-bottom: 24px;
    background: transparent !important;
    border-bottom: none !important;
}

/* .mainTabs>li {
    color: rgb(123, 124, 125);
}

.mainTabs>.ant-menu-item-selected {
    color: rgb(230, 2, 55) !important;
} */

.mainDiv {
    min-height: 47.3vh;
    height: 100%;
    padding: 24px 60px 90px 46px;
}

.mainChaild {
    padding: 1.5rem;
    margin-left: 16px;
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
}





.ulTabs {
    padding-left: 30px;
}

.spanFlex {
    display: block;
    height: 14vh;
    padding-top: 3vh;
}