.mainTabs {
    /* padding: 24px 60px 90px 46px; */
    padding-bottom: 24px;
    background: transparent !important;
    border-bottom: none !important;
}



.mainChaild {
    padding: 1.5rem;
    margin-left: 16px;
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
}





.ulTabs {
    padding-left: 30px;
}

.spanFlex {
    display: block;
    height: 14vh;
    padding-top: 3vh;
}