.mainTabs {
    /* padding: 24px 60px 90px 46px; */
    padding-bottom: 24px;
    background: transparent !important;
    border-bottom: none !important;
}

.mainChaild {
    /* height: 100%; */
    padding: 1.25vw;
    margin-left: 16px;
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
}