.topInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
}

.addClineBTN {
    width: 320px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #0B0B0C;
    font-size: 16px;
    font-weight: 400;
    float: right;
}

.flxInp {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}