.mainDiv {
    min-height: 47.3vh;
    height: 100%;
    padding: 24px 60px 90px 46px;
}

.mainChaild {
    padding: 1.5rem;
    margin-left: 16px;
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
}