.mainNewPr {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 20px;
}

.sliderDivMain {
    display: flex !important;
    width: 14vw !important;
    height: 375px;
    padding: 14px;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    border-radius: 8px;
    background: #FFF;
    justify-content: space-between;
    transition: transform .3s;
}



.slTexLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    max-height: 60px;
}

.btnStar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.boxImgStar {
    position: relative;
    /* padding-top: 10px; */
}

.boxImgStar>div {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.starFlex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.stChFlex {
    display: flex;
}

.addBasket {
    width: 100px;
    height: 34px;
    border-radius: 8px;
    background: #8D24F8;
    color: white;
}